#### 1.Write a code to find whether a given string is Palindrome or not ?

In [166]:
str="rahul"
if str==str[ : :-1]:
    print(str, "is Palindrome")
else:
    print(str, "is not Palindrome")

rahul is not Palindrome

#### 2.Write a python program to count even numbers & odd numbers in a series of given numbers 

#### numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [172]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even_count=0
odd_count=0
for i in numbers:
    if i% 2==0:
        even_count += 1
    else:
        odd_count += 1
print("total numbers of even numbers in list","-", even_count)
print("total numbers of odd numbers in list", "-", odd_count)

total numbers of even numbers in list - 4
total numbers of odd numbers in list - 5

#### 3.Write a program to print Fibonacci Series.

In [180]:
x=0
y=1
count=0
while count<=5:
    print(x)
    a=x+y
    x=y
    y=a
    count+=1

0
1
1
2
3
5

In [178]:
n=11
a=0
b=1
if n<=0:
    print("incorrect input")
elif n==1:
    print(b)
else:
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(b)

1
2
3
5
8
13
21
34
55

#### 4.Write a python program which prints a random number from given series of number  ?

#### numbers = (1,2,3,4,55,66,88,54)

In [4]:
import random as r
numbers=(1,2,3,4,55,66,88,54)
r.choice(numbers)

66

#### 5.Write a python program to create a password generator of 6 characters(includes:uppercase,lowercase,specialcharacters)

In [1]:
import random as r

In [2]:
population=['a','b','#','*','1','D','B','^','2','S','!']
pass_len=6
''.join(r.sample(population,pass_len))

'aD#2S^'

In [193]:
import string
a=string.ascii_lowercase
b=string.ascii_uppercase
password=""
password = input("Enter password- ")
if len(password)<=6:
    for i in password:
        if i in a and b and "!@#$%^&*":
            print("correct password")
            
else:
    print("wrong password")

Enter password - rahul22
wrong password

#### 6.Create a dictionary with 2 keys and 4 values in each and delete any one key ?

In [1]:
dic={"Rahul":[11,22,33,44], "Ram":[33,44,55,66]}
dic

{'Rahul': [11, 22, 33, 44], 'Ram': [33, 44, 55, 66]}

In [2]:
import pandas as pd
pd.DataFrame(dic)

   Rahul  Ram
0     11   33
1     22   44
2     33   55
3     44   66

In [124]:
del dic["Rahul"]
dic

{'Ram': [33, 44, 55, 66]}

#### 7.Write a code to add “alpha”:26 to the existing dictionary.

dic={'Eddy':13,'Maria':44,'Jas':21}

In [5]:
dic={'Eddy':13,'Maria':44,'Jas':21}
dic["alpha"]=26
dic

{'Eddy': 13, 'Maria': 44, 'Jas': 21, 'alpha': 26}

#### 8.Write a code to print “Python” for multiples of three instead of the number, “Coding” for the multiples of five, “Python Coding” for multiples of both three and five.
(range is from 1 to 26).

In [3]:
for i in range(1,26):
    if i%3==0 and i%5==0:
        print("python coding")
    elif i%5==0:
        print("coding")
    elif i%3==0:
        print("python")
    else:
        print(i)

1
2
python
4
coding
python
7
8
python
coding
11
python
13
14
python coding
16
17
python
19
coding
python
22
23
python
coding

#### 9. Write a code to 
i) extract name elements alone, 
ii) multiply the number element by 6.07

d=[{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}]

In [32]:
d=[{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}]
for i in d:
    print("Name elements are-",i['name'])
    print("After multiplying the number elements-",i['number']*6.07)

Name elements are- hydrogen
After multiplying the number elements- 6.07
Name elements are- carbon
After multiplying the number elements- 12.14

#### 10. Use list comprehension to obtain the squre root of first 10 natural numbers.

In [10]:
[i**(0.5) for i in range(1,11)]

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

#### 11. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user).

In [33]:
word = str(input("Enter a sentence-"))
[i for i in word if i in 'aeiouAEIOU']

Enter a sentence-RAHUL

['A', 'U']

#### 12. Use list comprehension to find even and odd numbers from first 20 whole numbers.

In [14]:
even=[i for i in range(21)  if i%2==0]
odd=[i for i in range(21)  if i%2!=0]
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 13. Use list comprehension to print numbers divisible  by 2 and 3 in between 1 and 100.

In [151]:
[i for i in range(1,100) if i%2==0 and i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

#### 14. Use list comprehension to extract numbers from a string

In [15]:
string = "rahul22"
[ch for ch in string if ch.isdigit()]

['2', '2']

#### 15. Use list comprehension to print table of 11 to 20 as shown below.

<table>
<tr>
    <td>11</td><td>22</td><td>33</td><td>44</td><td>55</td><td>66</td><td>77</td><td>88</td><td>99</td><td>110</td> 
</tr>
    
<tr>
    <td>12</td><td>24</td><td>36</td><td>48</td><td>60</td><td>72</td><td>84</td><td>96</td><td>108</td><td>120</td> 
</tr>

<tr>
    <td>13</td><td>36</td><td>39</td><td>52</td><td>65</td><td>78</td><td>91</td><td>104</td><td>117</td><td>130</td> 
</tr> 

<tr>
     <td>14</td><td>28</td><td>42</td><td>56</td><td>70</td> <td>84</td><td>98</td><td>112</td><td>126</td><td>140</td> 
</tr>

<tr>
     <td>15</td><td>30</td><td>45</td><td>60</td><td>75</td><td>90</td><td>105</td><td>120</td><td>135</td><td>150</td> 
</tr>

<tr>
     <td>16</td><td>32</td><td>48</td><td>64</td><td>80</td><td>96</td><td>112</td><td>128</td><td>144</td><td>160</td> 
</tr> 

<tr>
     <td>17</td><td>34</td><td>51</td><td>68</td><td>85</td><td>102</td><td>119</td><td>136</td><td>153</td><td>170</td> 
</tr> 

<tr>
     <td>18</td><td>36</td><td>54</td><td>72</td><td>90</td> <td>108</td><td>126</td><td>144</td><td>162</td><td>180</td> 
</tr>

<tr>
 <td>19</td><td>38</td><td>57</td><td>76</td><td>95</td><td>114</td><td>133</td><td>152</td><td>171</td><td>190</td> 
</tr>

<tr>
     <td>20</td><td>40</td><td>60</td><td>80</td><td>100</td><td>120</td><td>140</td><td>160</td><td>180</td><td>200</td> 
<tr>    
    
</table>

In [25]:
[[i*j for i in range(1,11)] for j in range(11,21)]

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]