# Python List:

### 1. Create your own lists otherwise use the List1 = ['hello','great','learning']  to operate the below Python list  Operations?
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [22]:
L1=['Hello','Great','Learning']
L1  *  4

['Hello',
 'Great',
 'Learning',
 'Hello',
 'Great',
 'Learning',
 'Hello',
 'Great',
 'Learning',
 'Hello',
 'Great',
 'Learning']

#### 1.B. Concatenation (+):

In [8]:
L1 + ["GOOD"]

['Hello', 'Great', 'Learning', 'GOOD']

In [7]:
L1 = []
for i in range(5):
    input1 = int(input("enter a value: "))
    L1.append(input1)
print(L1)

enter a value: 5
enter a value: 12
enter a value: 10
enter a value: 12
enter a value: 5
[5, 12, 10, 12, 5]

#### 1.C. Membership:

In [2]:
"Great" in L1

True

#### 1.D. Length:

In [4]:
str = "India"
len(str)

5

#### 1.E. Iteration:

In [2]:
L1=['Hello','Great','Learning']
for i in L1:
    if len(i) > 4:
        print(i, end=" ")

Hello Great Learning

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
                    List1 = [15, 300, 2700, 821]
                    List2 = [12, 2]
                    List3 = [34, 567, 78]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.A)  max():

In [33]:
List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]
L = List1 + List2 + List3
print(L)
max(L)

[15, 300, 2700, 821, 12, 2, 34, 567, 78]

2700

#### 2.B) min():

In [34]:
List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]
L = List1 + List2 + List3
min(L)

2

#### 2.C) list:

In [45]:
List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]
L = List1 + List2 + List3
list(L)

[15, 300, 2700, 821, 12, 2, 34, 567, 78]

### 3. Create your own lists to operate the below Python List built-in methods

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

In [8]:
LI=[1,2,3,4]
LI

[1, 2, 3, 4]

#### 3.A) append:

In [9]:
l=5
LI.append(l)
LI

[1, 2, 3, 4, 5]

#### 3.B) list.clear():

In [12]:
LI.clear()
LI

[]

#### 3.C) List.copy()

In [13]:
LI.copy()

[]

#### 3. D) list.count(obj):

In [5]:
lst = [5,5,10,15,20,25]
lst.count(5)

2

#### 3.E) list.extend(seq):

In [8]:
lst1 = [1,2,3,4,5,6]

lst2 = [7,8,9,10]

lst1.extend(lst2)
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 3.F) list.index(obj):

In [10]:
lst1.index(3)

2

#### 3.G) list.insert(index, obj):

In [12]:
lst1.insert(1,51)
lst1

[1, 51, 51, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 3.H) list.remove(obj):

In [14]:
lst1.remove(51)
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 3.i) list.reverse():

In [17]:
lst1.reverse()
lst1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### 3.j) list.sort([func]):

In [19]:
lst1.sort()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('a','b','c','d')
                Tuple2 = ('e','f','g','h')

### 1. Tuple Operations 
  
  
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [30]:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')

Tuple1 * 2

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

#### 1.B. Concatenation (+):

In [ ]:
tuple1 + tuple

#### 1.C) Membership:

#### 1.D) Length:

#### 1.E) Iteration:

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)

In [22]:
 tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)

#### 2.A) max():

In [26]:
max(tuple1)

8765

#### 2.B) min():

In [27]:
min(tuple1)

1

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Write if statement 13 is greater than 25?

In [52]:
a = 13
b = 25
if b>a:
    print("b is greater than a")

b is greater than a

##### 2.  Write a if else  statement to find if the number is divisible by 25?

In [62]:
a = int(input("enter a number- "))
if a%25==0:
    print("number is divisible by 25")
else:
    print("number is not divisible by 25")

enter a number- 100
number is divisible by 25

#### 3.Using the three variables 'a = 154; b = 2451; c = 6054', 
Write a If...Elif...Else statement to find the greatest number

In [46]:
a = 154
b = 2451
c = 6054
if a>b and a>c:
    print("a is the greater number")
elif b>a and b>c:
    print("b is the greater number")
else:
    print("c is the greater number")

c is the greater number

# For Loop:

### 1. Write a code to print string using for loop?

In [37]:
str = "rahul"
for i in str:
    print(i, end = " ")

r a h u l

# Exercise on string

In [8]:
string = "Data science is an application of Mathematics"
string.lower()

'data science is an application of mathematics'

In [9]:
string = "Data science is an application of Mathematics"
string.upper()

'DATA SCIENCE IS AN APPLICATION OF MATHEMATICS'

In [10]:
string = "Data science is an application of Mathematics"
string.title()

'Data Science Is An Application Of Mathematics'

In [11]:
string = "Data science is an application of Mathematics"
string.count("e")

3

In [16]:
string = "Data science is an application of Mathematics"
string.replace("a", "A")

'DAtA science is An ApplicAtion of MAthemAtics'

In [15]:
string = "Data science is an application of Mathematics"
len(string)

45

# Slicing
 s='mathematics'

In [19]:
s='mathematics'
print(s[0:4])

math

In [20]:
print(s[1:10:2])

ahmtc

In [31]:
print(s[0::2])

mteais

In [30]:
print(s[-6::-1])

mehtam

In [38]:
print(s[-1:-12:-2])

siaetm

In [23]:
print(s[::-1])

scitamehtam

### 3. Write a program that asks the user to enter a string. The program should then print the
following:

## The total number of characters in the string

In [19]:
a = input("enter a string-")
print(len(a))

enter a string-mathematics
11

## The string repeated 10 times1

In [3]:
a=input("enter a word- ")
print(a*10)

enter a word- mathematics
mathematicsmathematicsmathematicsmathematicsmathematicsmathematicsmathematicsmathematicsmathematicsmathematics

## The first character of the string (remember that string indices start at 0)

In [4]:
print(a[0])

m

## The last three characters of the string

In [5]:
print(a[8:11])

ics

### The first three characters of the string

In [7]:
print(a[0:3])

mat

## The string backwards

In [8]:
print(a[-1::-1])

scitamehtam

## The seventh character of the string if the string is long enough and a message otherwise

In [11]:
print(a[7])

t

### The string with its first and last characters removed

In [13]:
print(a[1:-1])

athematic

## The string in all caps

In [15]:
print(a.upper())

MATHEMATICS

## The string with every a replaced with an e

In [16]:
print(a.replace("a" , "e"))

methemetics

## Write a program that asks the user to enter a word and prints out how many vowels are there in that string

In [35]:
str = input("enter a string- ")
str.lower()
vowels="aeiou"
c=0
for i in str:
    if i in vowels:
        c+=1
        print(i, c)

enter a string- Rahul
a 1
u 2

 A simple way to estimate the number of words in a string is to count the number of spaces
in the string. Write a program that asks the user for a string and returns an estimate of how
many words are in the string.

In [24]:
a = input("enter a sentence-")
b = a.count(' ') + 1
print(b)

enter a sentence-mumbai is in india
4